#svg-container {
    margin: 0 auto;
    height: calc(100vh - var(--header-height))
}

#svg-container > svg {
    height: 100%;
    display: block;
    margin: 0 auto;

}

#svg-container > svg > g:has(>g:nth-of-type(2)) {
    transform: scale(1);
    transform-origin: center;
    cursor: pointer;
    transition: transform .3s;
}

#svg-container > svg > g:has(>g:nth-of-type(2)):hover {
    transform: scale(1.04);
}