<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiaxiang.activity.mapper.ActivityMapper">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->

    <resultMap id="ActivitiesPreviewMap" type="com.jiaxiang.model.activity.vos.ActivityPreviewVO">
        <id column="id" property="id"/>
        <result column="path_url" property="images"/>
    </resultMap>

    <resultMap id="ActivityDetailMap" type="com.jiaxiang.model.activity.vos.ActivityDetailVO">
        <id column="id" property="id"/>
        <result column="community_id" property="communityId"/>
        <result column="title" property="title"/>
        <result column="location" property="location"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="organizer" property="organizer"/>
        <result column="participant_count" property="participantCount"/>
        <result column="participant_type" property="participantType"/>
        <result column="theme" property="theme"/>
        <result column="introduction" property="introduction"/>
        <result column="content" property="content"/>
        <result column="location" property="address"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertActivityFiles">
        INSERT INTO activity_file (
        activity_id,
        path_url,
        file_type,
        is_cover,
        description,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.activityId}, #{item.pathUrl}, #{item.fileType}, #{item.isCover},
            #{item.description}, #{item.createTime}, #{item.updateTime})
        </foreach>
    </insert>

    <delete id="deleteByActivityIdAndUrls">
        delete from activity_file where activity_id = #{activateId} and
        path_url in
        <foreach collection="toDelete" item="del" open="(" separator="," close=")">
            #{del}
        </foreach>
    </delete>


    <select id="getActivitiesByCommunityId" resultMap="ActivitiesPreviewMap">
        select activity.id, activity_file.path_url, activity.start_time, activity.title
        from activity,
             activity_file
        where activity.community_id = #{communityId}
          and activity.id = activity_file.activity_id
          and activity_file.is_cover = true
    </select>

    <select id="getActivityDetailWithOutImagesByActivityId" resultMap="ActivityDetailMap">
        select activity.id,
               activity.community_id,
               activity.title,
               activity.location,
               activity.start_time,
               activity.end_time,
               activity.organizer,
               activity.participant_count,
               activity.participant_type,
               activity_detail.theme,
               activity_detail.Introduction,
               activity_detail.content,
               activity.location,
               activity.create_time,
               activity.update_time
        from activity,
             activity_detail
        where activity.community_id = #{communityId}
          and activity.id = #{activityId}
          and activity_detail.activity_id = activity.id
    </select>

    <select id="getFilesByActivityId" resultType="com.jiaxiang.model.activity.dos.ActivityFileDo">
        select *
        from activity_file
        where activity_id = #{activityId}
    </select>


    <update id="updateActivityDetailDoById" parameterType="com.jiaxiang.model.activity.dos.ActivityDetailDo">
        UPDATE activity_detail
        <set>
            <if test="activityId != null">
                activity_id = #{activityId},
            </if>
            <if test="theme != null and theme != ''">
                theme = #{theme},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction},
            </if>
            <if test="content != null and content != ''">
                content = #{content}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateActivityDo" parameterType="com.jiaxiang.model.activity.dos.ActivityDo">
        UPDATE activity
        <set>
            <if test="communityId != null">
                community_id = #{communityId},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="organizer != null and organizer != ''">
                organizer = #{organizer},
            </if>
            <if test="participantCount != null">
                participant_count = #{participantCount},
            </if>
            <if test="participantType != null and participantType != ''">
                participant_type = #{participantType},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateActivityFileDo" parameterType="com.jiaxiang.model.activity.dos.ActivityFileDo">
        update activity_file
        <set>
            <if test="activityId != null and activityId != ''">
                activity_id = #{activityId},
            </if>
            <if test="pathUrl != null and pathUrl != ''">
                path_url = #{pathUrl},
            </if>
            <if test="fileType != null and fileType != ''">
                file_type = #{fileType},
            </if>
            <if test="isCover != null">
                is_cover = #{isCover},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
