/* 内容面板样式 */
.content-panel {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.content-header h2 {
    margin: 0;
}

.content-header button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.content-header button:hover {
    background-color: #c0392b;
}


.content-body{
    /*white-space: preserve;*/
}