@font-face {
    font-family:"msyh";
    src:
            url("../../../files/font-family/msyhl.ttc"),
            url("../../../files/font-family/msyh.ttf");
    font-style: italic;
    font-stretch: normal;
}

